body {
  color: #222;
  font-family: sans-serif;
  line-height: 1.5;
  margin: 1rem;
  max-width: 768px;
}

header {
  border-bottom: 1px solid #222;
  margin-bottom: 1rem;
}

footer {
  border-top: 1px solid #222;
  margin-top: 3rem;
}

a {
  color: #00e;
  text-decoration: none;
}

.menu a {
  color: rgb(63, 63, 63);
}

.menu a:hover {
  color: black;
}

.menu .row {
  text-align: center;
}